/* Email App Icon */
.email-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 20px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: transform 0.2s ease-in-out;
    z-index: 99999999;
    cursor: pointer;
    background-color: #FFF;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
}

.email-icon:hover {
    transform: scale(1.1);
}

/* Icon Image */
.email-icon img {
    width: 100%;
    height: auto;
    margin-top: 8px;
}

/* Icon Label */
.icon-label {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #00ff00;
    font-family: "Courier New", monospace;
}

/* New Message Badge */
.badge {
    position: absolute;
    top: 12px;
    right: 4px;
    width: 22px;
    height: 22px;
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px red;
}